In [ ]:
# Answer1

In [2]:
a="Rahul" #string
b=[1,2,3,"Rahul",3.14,True] #list
x=3.14 #float
fruits = ("apple", "banana", "orange", "mango") #tuple

In [3]:
# Answer 2

In [4]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = ['DS' , 'ML' , 'Python']
var4 = 1

In [8]:
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

In [9]:
# Answer 3

In [1]:
x = 10
y = 2

divide=x/y #divide
print(divide)

Mod=x%y #mod 
print(Mod)

Floor=x//y #floor division
print(Floor)

astric=x**y #10 power 2 =100
print(astric)

5.0
0
5
100

In [2]:
# Answer 4

In [17]:
l=[1,2,3.14,"4",True,"rahul",7+3j,8.5,9,10]
for i in l:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3.14 <class 'float'>
4 <class 'str'>
True <class 'bool'>
rahul <class 'str'>
(7+3j) <class 'complex'>
8.5 <class 'float'>
9 <class 'int'>
10 <class 'int'>

In [16]:
# Answer 5

In [43]:
a=10
b=2
c=0
if a%b==0:
    while a%b==0:
        a=a//b
        c+=1
    print("a is divisible by b "+str(c)+" times")
else:
    print("a is not divisible by b")

a is divisible by b 1 times

In [44]:
# Answer 6

In [49]:
il=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in il:
    if i%3==0:
        print(str(i) + " is divisible by 3")
    else:
        print(str(i) + " is not divisible by 3")

1 is not divisible by 3
2 is not divisible by 3
3 is divisible by 3
4 is not divisible by 3
5 is not divisible by 3
6 is divisible by 3
7 is not divisible by 3
8 is not divisible by 3
9 is divisible by 3
10 is not divisible by 3
11 is not divisible by 3
12 is divisible by 3
13 is not divisible by 3
14 is not divisible by 3
15 is divisible by 3
16 is not divisible by 3
17 is not divisible by 3
18 is divisible by 3
19 is not divisible by 3
20 is not divisible by 3
21 is divisible by 3
22 is not divisible by 3
23 is not divisible by 3
24 is divisible by 3
25 is not divisible by 3

In [50]:
# Answer 7

In [55]:
# mutable - it allows to update a value at specific index.
L=[1,2,3,4]
L[0]=10
print(L)

[10, 2, 3, 4]

In [56]:
# immutable - it do not allows to update a value at specific index.
d= 1234
d[0]=2
print(d)

TypeError: 'int' object does not support item assignment